{% extends 'base.html' %}

{% block body %}

<div class="ms-5 mt-3">
    <h1>Editar Bairro</h1>
</div>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="width: 400px;">
        <div class="mb-3">
            <h2>Atualize os Dados:</h2>
        </div>

        <form method="POST">
            {{ form.csrf_token }}

            <div class="mb-3">
                {{ form.nome.label(class="form-label") }}
                {{ form.nome(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.valor.label(class="form-label") }}
                {{ form.valor(class="form-control") }}
            </div>

            <div class="d-grid">
                {{ form.botao_submit_bairro(class="btn btn-login") }}
            </div>
        </form>
    </div>
</div>

{% endblock %}
